/*
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
#F7FFF7 - almost white
#009FB7 - 孔雀蓝
#FEFFEF - 淡黄
#F1EFF9 - 淡紫
#F7EDEF - 淡粉
#F7F7F7 - white smoke


#EDF7F5 - 淡绿二
#DAD3ED - 淡紫二
#EDF6F7- 淡蓝
*/


/* Global styles
------------------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

nav {
background: #F7FFF7;
  color: #F7FFF7;
margin-bottom: 0;
    font-size: larger;
}

.a{
    padding: 30px;
    list-style-type: none;

}

.redwords {
    color:crimson;
}

.item-description{
    
padding-top: 30px;
    
}



.content-wrapper {
  
     margin: 0;
    float: left;
    margin-left: 50px;
    margin-top: 150px;
  position: fixed;
}

.slogan {
    font-size: 65px;
    margin-top:30px ;
   font-family:  'Abril Fatface',"Open Sans", "Helvetica Neue";

    
}

.slogan1{
   font-size: 30px; 
    margin-bottom: 30px;
       font-family: 'Roboto', "Open Sans", "Helvetica Neue";

}


/*
.luxu {
    display: inline-block;
    background-image: linear-gradient; 
     text-decoration:none;
    border-color:blue;
}
*/


body {
  color: #343434;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Open Sans',Arial,sans-serif; 
  font-size: 18px;
  line-height: 2;
}

.img1{
    width:300px;
    height: 228px;
}


.img2{
    width:400px;
    height: 258px;
    padding-top: 20px;
}

.img3{
    
  width: 150px;
    height: 280px;
    
}




img {
  max-width: 800px;
    width:100%;
    margin-bottom: 30px;
    margin-top: 30px;
}



iframe {
   max-width: 800px;
    width:100%  
}



.img4 {
     width:400px;
}


a {
   text-decoration:none;
    color: #343434;
}
a:hover {
  text-decoration:none;
    color:#EE6352;
}

.luxu {
     text-decoration:none;
    color: #ED887B;
}



h1 {
  font-size: 60px;
  line-height: 1;
}

.top {
    margin-top: 60px;
}
.buttom {
    margin-bottom: 40px;
}

h2 {
  font-size: 40px;
    margin-bottom: 50px;
     
}
h1, h2 {
  font-family:   'Abril Fatface',"Open Sans", "Helvetica Neue";
  font-weight: 400;
  margin: 0;
}
.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}

.content-wrap1 {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}

.content-wrap2 {
  max-width: 800px;
/*     margin-left: 400px; */
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
    
}

.play {
    margin-top: 80px;
}
.song{
   align-content: center;
}

h3 {
     font-family:   'Roboto',"Open Sans", "Helvetica Neue";
  margin-bottom: 0;
}

.contact {
    margin-top: 0;
}

.item-details h3 + p {
  font-style: italic;
}
.item-details h3 ~ p {
  margin: 0;
}
.divider > section {
  border-bottom: 1px dashed #343434;
  padding: 25px 0;
}
.divider > section:last-of-type {
  border-bottom: none;
}


/* Profile
------------------------------------*/
header {
  background:#F7F7F7 ;
  color: #343434;
}


/* Projects
------------------------------------*/
.projects {
  background: #F7EDEF;
}
.projects-1{
    background: #F7F7F7;
    
}

.projects-3{
    background: #F1EFF9 ;
}
.projects-2{
    background: #EDF6F7;
}


.projects a {
  color: #2F3061;
}
.projects .btn {
  color: #F7FFF7;
  background: #ED887B;
/* #F4BEC9  EDA89E  rgba(47, 48, 97, 70%)*/
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
/*    margin-top: 30px;*/
    
}
.projects .btn:hover {
  background: #EE6352;
}
.project-item {
  overflow: hidden;
}
.project-item h3 {
  margin-top: 0;
}


/* Work Experience
------------------------------------*/
.work-experience {
  background: #A1C6D7;
}




/* Contact Info
------------------------------------*/
footer {
  background: #F7F7F7;

    color: dimgrey;
}
.contact-list {
  list-style-type: none;
  padding: 0;
}
.contact-list a {
  padding: 15px;
  display: inline-block;
}


/* Responsive
------------------------------------*/
@media screen and (min-width:750px){
    
    .navigation {
    display: flex;
    justify-content: flex-end;
  }
    header {
        text-align: left;
    }
 footer {
    text-align: center;
  }
  .project-item img {
    float: left;
    margin-right: 20px;
  }

  .job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }
  .contact-list {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width:749px){
  h1 {
    font-size: 75px;
    line-height: 0.9;
    margin-bottom: 20px;
  }
  h2 {
    line-height: 1;
  }
  .contact-list a {
    padding: 5px;
  }
}


/*Project 1.
---------------------*/

.project-name {
    
    margin-bottom: 50px;
}

.project-description {
  
    display: inline;

margin-top: 0px;
line-height: inherit;
font-weight: 400;
  }

.con {
    width:350px; height: 200px;
    margin-right: 40px;
}
.con1 {
    width:300px; height: 400px;
    margin-right: 50px;
}

.con3{
   width:300px; height: 500px;
    margin-right: 50px;  
    
    
}

.con2{
    width:440px; height: 200px;
    margin-right: 40px;  
}


.final-concept {
     width:400px; height: 450px;
}
.SB {
   width:350px; height: 400px; margin-right: 30px; 
}


.lisa{
     width:100px; height: 130px;
}

.fm{
    width:180px; height:250px;
    margin-right: 10px;
    margin-top: 20px;
}


.fmm{  
    width:180px; height:320px;
    margin-right: 10px;
    margin-top: 50px;
    
}

iframe {
    
    margin-top: 30px;
}

.fm1{
    width:180px; height:250px;
    margin-left: 20px;
    margin-right: 10px;
    align-content: center;
     margin-top: 10px;

}

.fmm1{
     width:180px; height:320px;
    margin-left: 20px;
    margin-right: 20px;
    align-content: center;
     margin-top: 20px; 
}



.fm2{
    width:180px; height:250px;
    margin-left: 60px;
    margin-right: 10px;
        margin-top: 10px;

}

.fmm2{
    width:180px; height:320px;
    margin-left: 60px;
    margin-right: 10px;
        margin-top: 20px;

}


.feature{
    width: 390px;
    height: 250px;
}

.copy {
    font-size: small;
}

.footer{
    text-decoration: underline;
}
